<%= link_to"トップページへ戻る",s3bases_path%>
<br>
<h2>テンプレート一覧</h2>
<div class="container">
	<%= link_to"新規作成",new_s3_sender_info_path %>

	<h3>使用するテンプレート</h3>
	<% if @active_sender_info %>
		<table border="1">
			<tr>
				<th></th>
				<th>名前</th>
				<th>tel</th>
				<th>メールアドレス</th>
				<th>件名</th>
				<th>問い合わせ内容</th>
			</tr>
			<% @active_sender_info.each do |info| %>
			<tr>
				<td class="th_submit_status">
					<%= link_to "編集",edit_s3_sender_info_path(info.id) %>
				</td>
				<td class="th_submit_status"><%= info.sender_name %></td>
				<td class="th_submit_status"><%= info.tel %></td>
				<td class="th_submit_status"><%= info.email %></td>
				<td class="th_submit_status"><%= info.title %></td>
				<td class="th_submit_status"><div class="cell-scroll"><%= info.content %></div></td>
			</tr>
				<% end %>
		</table>
	<% end %>
	<br>
	<h3>その他のテンプレート</h3>
	<% if @sender_infos %>
		<table border="1">
			<tr>
				<th></th>
				<th>名前</th>
				<th>tel</th>
				<th>メールアドレス</th>
				<th>件名</th>
				<th>問い合わせ内容</th>
			</tr>
			<% @sender_infos.each do |info| %>
			<tr>
				<td class="th_submit_status">
					<%= link_to "編集",edit_s3_sender_info_path(info) %>
					<br>
					<%= link_to "このテンプレを使用する",activate_s3_sender_infos_path(id: info.id), method: :post%>
				</td>
				<td class="th_submit_status"><%= info.sender_name %></td>
				<td class="th_submit_status"><%= info.tel %></td>
				<td class="th_submit_status"><%= info.email %></td>
				<td class="th_submit_status"><%= info.title %></td>
				<td class="th_submit_status"><div class="cell-scroll"><%= info.content %></div></td>
			</tr>
				<% end %>
		</table>
	<% end %>
</div>
