<%= link_to"問い合わせページへ戻る",submit_s3bases_path,data: {"turbolinks" => false}%>
<br>
<h2>テンプレート一覧</h2>
<div class="container">
	<%= link_to"新規作成",new_s3_sender_info_path %>

	<h3>使用するテンプレート</h3>
	<% if @active_sender_info %>
		<% @active_sender_info.each do |info| %>
		<table border="1">
			<tr>
				<th></th>
				<th>名前</th>
				<th>tel</th>
				<th>メールアドレス</th>
			</tr>
			<tr>
				<td>
					<%= link_to "編集",edit_s3_sender_info_path(info.id) %>
				</td>
				<td><%= info.sender_name %></td>
				<td><%= info.tel %></td>
				<td><%= info.email %></td>
			</tr>
		</table>
		<table border="1">
			<tr>
				<th>件名</th>
			</tr>
			<tr>
				<td><%= info.title %></td>
			</tr>
		</table>
		<table border="1">
			<tr>
				<th>問い合わせ内容</th>
			</tr>
			<tr>
				<td><%= simple_format info.content %></td>
			</tr>
		</table>
		<% end %>
	<% end %>
	<br>
	<h3>その他のテンプレート</h3>
	<% if @sender_infos %>
		<table border="1">
			<tr>
				<th></th>
				<th>名前</th>
				<th>tel</th>
				<th>メールアドレス</th>
				<th>件名</th>
				<th class="th_sender_content">問い合わせ内容</th>
				<th></th>
			</tr>
			<% @sender_infos.each_with_index do |info,i| %>
			<tr>
				<td>
					<%= link_to "編集",edit_s3_sender_info_path(info) %>
					<br>
					<%= link_to "このテンプレを使用する",activate_s3_sender_infos_path(id: info.id), method: :post%>
				</td>
				<td><%= info.sender_name %></td>
				<td><%= info.tel %></td>
				<td><%= info.email %></td>
				<td><%= info.title %></td>
				<td><div class="cell-scroll"><%= simple_format info.content %></div></td>
				<td><a id="delete_sender_info_<%=i%>" data-i="<%=i%>" href= "javascript:void(0)">削除</a></td>
			</tr>

			<div class="modal_wrapper" id="delete_modal_<%=i%>">
				<div class="modal">
					<div class="close_modal">
						<i class="fa fa_2x fa_times"></i>
					</div>
					<div id="modal_form">
						<h2>削除しますか？</h2>
						<div class="yes_no">
							<%= link_to "はい",s3_sender_info_path(id: info.id), method: :delete %>
						</div>
						<div id="select_no_<%=i%>" data-i="<%=i%>" class="yes_no">
							<a>いいえ</a>
						</div>
					</div>
				</div>
			</div>

			<% end %>
		</table>
	<% end %>
</div>

<%= javascript_pack_tag 's3base' %>
