<%= link_to"トップページへ戻る",s3bases_path%>
<br>
<%= link_to"問い合わせページへ",submit_s3bases_path, data: {"turbolinks" => false} %>

<div class="container">
	<h3>【ショップ情報収集機能】</h3>
	<p>
		キーワードを指定してショップ情報を集める
		<br>
		　：キーワードでショップ情報を収集・下記の表に追加する機能です。
		<br>
		　(ex:「ファッション」で検索すると、システムが自動で「ファッション」関係のBASEのショップを一定数ネット上から集め、下記の表に追加します)
	</p>
	<%= form_with url:invoke_base_scraping_lambda_s3bases_path,method: :post do |f| %>
		<%= f.text_field :search_word,placeholder: "キーワードを入力",id: "input_search_word" %>
		<a id="collect_search_word" href= "javascript:void(0)" onclick="clickCollectSearchword()">ショップ情報を収集</a>
		<div class="modal_wrapper" id="collect_search_word_modal">
			<div class="modal">
				<div class="close_modal">
					<i class="fa fa_2x fa_times"></i>
				</div>
				<div id="modal_form">
					<h2>実行しますか？</h2>
					<p>検索ワード:<span id="affected_search_word"></span></p>
					<div>
						<%= f.submit "ショップ情報を収集", name: nil %>
					</div>
					<div id="select_no" class="yes_no">
						<a>いいえ</a>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>
<br>
<div class="container">
	<h3>ショップ情報収集履歴</h3>
	<% if @collect_records%>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>検索ワード</th>
				<th>ドメイン</th>
				<th>新規ショップ数</th>
				<th>既存ショップ数</th>
				<th>更新ショップ数</th>
				<th>収集日時</th>
				<th>収集したショップ一覧</th>
			</tr>
			<% @collect_records.each_with_index do |record,i| %>
			<tr class="tr_collect_record">
				<td>
					<%= record.scraping_id %>
				</td>
				<td>
					<% if record.search_word == ""%>
						なし
					<% else %>
						<%= record.search_word %>
					<% end %>
				</td>
				<td>
					<%= record.domain %>
				</td>
				<td class="min_width">
					<%= record.new_shop_count %>
				</td>
				<td class="min_width">
					<%= record.existing_shop_count %>
				</td>
				<td class="min_width">
					<%= record.updated_shop_count %>
				</td>
				<td class="min_width">
					<%= l record.created_at, format: :short %>
				</td>
				<td class="min_width">
					<%= link_to "ショップ一覧", submit_s3bases_path(scraping_id: record.scraping_id),data: {"turbolinks" => false}%>
				</td>
			</tr>
			<% end %>
		</table>
	<% end %>
</div>

<script>
	function clickCollectSearchword() {
		const t = document.getElementById("input_search_word").value;
		if (t==""){
			document.getElementById("affected_search_word").textContent = "なし"
		}else{
			document.getElementById("affected_search_word").textContent = t
		}
	}
</script>

<%= javascript_pack_tag 's3base' %>
