<% if Rails.env.development? || Rails.env.test? %>
	<%= link_to"トップページへ戻る",s3bases_path%>
<% end %>
<br>
<%= link_to"問い合わせページへ",submit_s3bases_path%>

<div class="container">
	<h3>【ショップ情報収集機能】</h3>
	<p>
		①キーワードを指定せずショップ情報を集める
		<br>
		　：システムがネット上からBASEの人気ショップの情報を自動で集め、下記の表に追加します。クリック後、10分ほど待ってください。
	</p>
	　<%= link_to"ショップ情報を収集(キーワードなし)", invoke_base_scraping_lambda_s3bases_path, method: :post %>
	<br>
	<p>
		②キーワードを指定してショップ情報を集める
		<br>
		　：キーワードでショップ情報を収集・下記の表に追加する機能です。
		<br>
		　(ex:「ファッション」で検索すると、システムが自動で「ファッション」関係のBASEのショップを一定数ネット上から集め、下記の表に追加します)
	</p>
	<%= form_with url:invoke_base_scraping_lambda_s3bases_path,method: :post do |f| %>
		<%= f.text_field :search_word,placeholder: "キーワードを入力" %>
		<%= f.submit "ショップ情報を収集", name: nil %>
	<% end %>
</div>
<br>
<div class="container">
	<% if @collect_records%>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>検索ワード</th>
				<th>ドメイン</th>
				<th>新規ショップ数</th>
				<th>既存ショップ数</th>
				<th>更新ショップ数</th>
				<th>収集日時</th>
				<th>収集したショップ一覧</th>
			</tr>
			<% @collect_records.each_with_index do |record,i| %>
			<tr class="tr_collect_record">
				<td>
					<%= record.scraping_id %>
				</td>
				<td>
					<%= record.search_word %>
				</td>
				<td>
					<%= record.domain %>
				</td>
				<td class="min_width">
					<%= record.new_shop_count %>
				</td>
				<td class="min_width">
					<%= record.existing_shop_count %>
				</td>
				<td class="min_width">
					<%= record.updated_shop_count %>
				</td>
				<td class="min_width">
					<%= l record.created_at, format: :short %>
				</td>
				<td class="min_width">
					<%= link_to "ショップ一覧", submit_s3bases_path(scraping_id: record.scraping_id)%>
				</td>
			</tr>
			<% end %>
		</table>
	<% end %>
</div>

