<h1>【テスト版】BASEのショップ情報収集システム</h1>

<!--<h1>【テスト版でできること】</h1>
<p>
	①収集済みのショップ一覧情報（下記の表）の確認
	<br>
	②ショップごとのお問い合わせフォーム、サイトリンクへ飛ぶこと
	<br>
	③キーワードなしで、新たなショップ情報をネット上から集めること
	<br>
	→<%= link_to"スクレイピング開始", s3bases_path, method: :post %>（クリックすると30秒ほどでシステムが自動でネット上からBASEのショップ情報を集め、下記の表に追加します）
</p>-->
<%= link_to"スクレイピング開始", s3bases_path, method: :post %>（クリックすると1分ほどでシステムが自動でネット上からBASEのショップ情報を集め、下記の表に追加します）

<%# <h1>【今後実装予定の機能・仕様】</h1>
<p>
	・下記の機能
	<br>
	・複数のショップのお問い合わせフォームにまとめて問い合わせを送れる機能
	<br>
	・ログイン機能
	<br>
	・サーバアップ
</p> %>


<h1>①ショップ情報収集機能</h1>

<%= form_tag s3bases_path,method: :post do%>
	<%=text_field_tag :search,"",placeholder: "キーワードを入力" %>
	<%= submit_tag "ショップ情報を収集", name: nil %>
<% end %>
<p>
	【機能説明】
	<br>
	キーワードでショップ情報を収集・下記の表に追加する機能です（実装済み）
	<br>
	(ex:「ファッション」で検索すると、システムが自動で「ファッション」関係のBASEのショップを一定数ネット上から集め、下記の表に追加します)
</p>

<h1>②システム内検索機能</h1>
<p>
	【機能説明】
	<br>
	システムDBからキーワードに該当するショップ情報を収集する機能です
	<br>
	(ex:「ファッション」で検索すると、下記の表の中で「ファッション」の単語を含むのBASEのショップ情報を表示する)
	<br>
	下記の表は過去収集したBASEのショップ情報を全て表示する仕様になっています。
</p>

<%= form_tag search_s3bases_path,method: :get do%>
	<%=text_field_tag :search,"",placeholder: "キーワードを入力" %>
	<%= submit_tag "システム内を検索", name: nil %>
<% end %>

<!--<%= form_tag bulk_submission_s3bases_path,method: :post do %>
	<%= text_field_tag :search,"",placeholder: "キーワードを入力" %>
	<%= submit_tag "一括問い合わせ" , name: nil %>
<% end %>-->

<%# <h1>③エクセル出力機能</h1>
<p>
	【機能説明】
	<br>
	下記表のチェックボックスにチェックを付けたものをエクセルで出力する機能です（未実装）
</p> %>
<br>
<% if Rails.env.development? || Rails.env.test? %>
	<%= link_to"トップページへ戻る",root_path%>
<% end %>
<br>
<br>
<%# <p>test</p> %>

<div class="container">
	<% if @shop_datas%>
		<input type="checkbox" id="check_all">
		<label for="check_all">全チェック</label>
			<%= form_with url: bulk_submission_s3bases_path	do |f| %>
				<table border="1">
					<tr>
						<th>チェック</th>
						<th>No.</th>
						<th>ショップ名</th>
						<th>ショップ説明</th>
						<th>問い合わせフォーム</th>
						<th>ショップURL</th>
					</tr>
					<% @shop_datas.each do |data| %>
						<tr>
							<td><%= f.check_box(:ids,{multiple: true},data.id,nil) %></td>
							<td><%= data.id %></td>
							<td class="td_shop_name"><%= data.shop_name %></td>
							<td class="td_about_shop"><div class="cell-scroll"><%= data.about_shop %></div></td>
							<td class="td_contact_url"><a href="<%= data.contact_url %>" target="_blank" rel=”noopener noreferrer”><%= data.contact_url %></a></td>
							<td class="td_shop_url"><a href="<%= data.shop_url %>" target="_blank" rel=”noopener noreferrer”>サイトへ</a></td>
						</tr>
					<% end %>
				</table>
				<br>
				<%= f.submit "問い合わせ" %>
			<% end %>
	<% end %>
</div>
<br>

<%= javascript_pack_tag 's3base' %>
