<h1>【テスト版】BASEのショップ情報収集システム</h1>

<h1>【テスト版でできること】</h1>
<p>
	①収集済みのショップ一覧情報（下記の表）の確認
	<br>
	②ショップごとのお問い合わせフォーム、サイトリンクへ飛ぶこと
	<br>
	③キーワードなしで、新たなショップ情報をネット上から集めること
	<br>
	→<%= link_to"スクレイピング開始", s3bases_path, method: :post %>（クリックすると30秒ほどでシステムが自動でネット上からBASEのショップ情報を集め、下記の表に追加します）
</p>

<h1>【今後実装予定の機能・仕様】</h1>
<p>
	・下記の①〜③の機能
	<br>
	・複数のショップのお問い合わせフォームにまとめて問い合わせを送れる機能
	<br>
	・ログイン機能
	<br>
	・サーバアップ
</p>


<h1>①ショップ情報収集機能</h1>

<%= form_tag s3bases_path,method: :posts do%>
	<!--<%= select_tag(:option, options_for_select([["スレッド","1"],["コメント","2"]])) %>-->
	<%=text_field_tag :search %>
	<%= submit_tag "ショップ情報を収集", name: nil %>
<% end %>
<p>
	【機能説明】
	<br>
	キーワードでショップ情報を収集・下記の表に追加する機能です（未実装のため今後追加予定）
	<br>
	(ex:「ファッション」で検索すると、システムが自動で「ファッション」関係のBASEのショップを一定数ネット上から集め、下記の表に追加します)
	<br>
	現在は「ショップ情報を収集」ボタンをクリックすると、キーワードなしでBASEのショップ情報を10件収集する仕様になっています。
</p>
<!--<%= link_to"ショップ情報を収集（クリックするとシステムが自動でネット上からBASEのショップ情報を集め、下記の表に追加します）", s3bases_path, method: :post %>-->

<h1>②システム内検索機能(案)</h1>
<p>
	【機能説明】
	<br>
	システムDBからキーワードに該当するショップ情報を収集する機能です（一案です。優先度が低ければ後回しにしますが、今後情報が増えてきたら必ず必要になると思います）
	<br>
	(ex:「ファッション」で検索すると、下記の表の中で「ファッション」関係のBASEのショップ情報を表示する)
	<br>
	下記の表はすでに収集済みのBASEのショップ情報を全て表示する仕様になっています。
</p>

<%= form_tag do%>
	<!--<%= select_tag(:option, options_for_select([["スレッド","1"],["コメント","2"]])) %>-->
	<%=text_field_tag :search %>
	<%= submit_tag "システム内を検索", name: nil %>クリックNG
<% end %>

<h1>③エクセル出力機能</h1>
<p>
	【機能説明】
	<br>
	下記表のチェックボックスにチェックを付けたものをエクセルで出力する機能です（未実装）
</p>
<br>


<div class="container">
	<% if @shop_datas%>
			<table border="1">
				<%# <colgroup span="2"></colgroup>
				<colgroup span="1" class="colgroup_shop_name"></colgroup>
				<colgroup span="1" class="colgroup_about_shop"></colgroup>
				<colgroup span="1" class="colgroup_contact_url"></colgroup>
				<colgroup span="1" class="colgroup_shop_url"></colgroup> %>
					<tr>
						<th><%= label_tag :test1, "チェック" %></th>
						<th>No.</th>
						<th>ショップ名</th>
						<th>ショップ説明</th>
						<th>問い合わせフォーム</th>
						<th>ショップURL</th>
					</tr>
					<% @shop_datas.each_with_index do |data,i| %>
					<tr>
							<td><%= check_box_tag :test1 %></td>
							<td><%= i+1 %></td>
							<td class="td_shop_name"><%= data.shop_name %></td>
							<td class="td_about_shop"><div class="cell-scroll"><%= data.about_shop %></div></td>
							<td class="td_contact_url"><a href="<%= data.contact_url %>" target="_blank" rel=”noopener noreferrer”><%= data.contact_url %></a></td>
							<td class="td_shop_url"><a href="<%= data.shop_url %>" target="_blank" rel=”noopener noreferrer”>サイトへ</a></td>
					</tr>
					<% end %>
			</table>
	<% end %>
</div>
<br>
<%= link_to"トップへ戻る",root_path%>
