<h1>【テスト版】BASEのショップ情報収集システム</h1>

<br>
<% if Rails.env.development? || Rails.env.test? %>
	<%= link_to"トップページへ戻る",root_path%>
<% end %>
<br>
<br>

<%= link_to"スクレイピング開始", s3bases_path, method: :post %>（クリックすると1分ほどでシステムが自動でネット上からBASEのショップ情報を集め、下記の表に追加します）

<h2>①ショップ情報収集機能</h2>

<%= form_tag s3bases_path,method: :post do%>
	<%=text_field_tag :search,"",placeholder: "キーワードを入力" %>
	<%= submit_tag "ショップ情報を収集", name: nil %>
<% end %>
<p>
	【機能説明】
	<br>
	キーワードでショップ情報を収集・下記の表に追加する機能です（実装済み）
	<br>
	(ex:「ファッション」で検索すると、システムが自動で「ファッション」関係のBASEのショップを一定数ネット上から集め、下記の表に追加します)
</p>

<h2>②システム内検索機能</h2>
<p>
	【機能説明】
	<br>
	システムDBからキーワードに該当するショップ情報を収集する機能です
	<br>
	(ex:「ファッション」で検索すると、下記の表の中で「ファッション」の単語を含むのBASEのショップ情報を表示する)
	<br>
	下記の表は過去収集したBASEのショップ情報を全て表示する仕様になっています。
</p>

<%= form_with url:s3bases_path ,method: :get,local: true do |f|%>
	<%= f.text_field :search,placeholder: "キーワードを入力" %>
	<%= f.submit "システム内を検索" %>
<% end %>

<%= link_to "最後にスクレイピングしたショップを表示",s3bases_path(scraping_id: "last") %>
<br>
<%= link_to "未問い合わせのショップを表示",s3bases_path(submit_status: 0) %>
<br>
<%= link_to "問い合わせ済みのショップを表示",s3bases_path(submit_status: 1) %>
<br>
<%= link_to "全ショップ表示",s3bases_path(id: "all") %>
<br>
<br>
<div class="container">
	<% if @shop_datas%>
			<%= form_with url: bulk_submission_s3bases_path	do |f| %>
				<table border="1">
					<tr>
						<th>チェック</th>
						<th>No.</th>
						<th>ショップ名</th>
						<th class="th_submit_status">問合せ</th>
						<th>問合せ日時</th>
						<th class="th_elapsed_days">経過日数</th>
						<th>ショップ説明</th>
					</tr>
					<% @shop_datas.each_with_index do |data,i| %>
						<tr>
							<td class="td_checkbox"> <%#チェック%>
								<%= f.check_box(:ids,{multiple: true},data.id,nil) %>
							</td>

							<td class="td_shop_id"> <%#No.%>
								<%= i+1 %>
							</td>

							<td class="td_shop_name"> <%#ショップ名%>
								<a href="<%= data.shop_url %>" target="_blank" rel=”noopener noreferrer”>
									<%= data.shop_name %>
								</a>
								<a href="<%= data.contact_url %>" target="_blank" rel=”noopener noreferrer”>
									問い合わせフォーム
								</a>
							</td>

							<td class="td_submit_status"> <%#問い合わせ状況%>
								<% if data.submit_status == 0 %>
									未
								<% elsif data.submit_status == 1 %>
									済
								<% end %>
							</td>

							<td class="td_submit_at"> <%#問い合わせ日時%>
								<% if data.submit_at.present? %>
									<%= l data.submit_at, format: :short %>
								<% end %>
							</td>

							<td class="td_elapsed_days"> <%#問い合わせ経過日数%>
								<% if data.submit_at.present? %>
									<%= ((DateTime.current.to_i - data.submit_at.to_i)/ 1.days).floor %>
								<% end %>
							</td>

							<td class="td_about_shop"> <%#ショップ説明%>
								<div class="cell-scroll">
									<%= data.about_shop %>
								</div>
							</td>
						</tr>
					<% end %>
					<%= f.submit "チェックしたショップに一括提案" %>
					<br>
					<input type="checkbox" id="check_all">
					<label for="check_all">全チェック</label>
				</table>
			<% end %>
	<% end %>
</div>
<br>

<%= javascript_pack_tag 's3base' %>
