<!DOCTYPE html>
<html>
  <head>
    <title>Rakusuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@raimuhosoda" />
    <meta property="og:url" content="http://13.114.229.141/homes/scr" />
    <meta property="og:title" content="RAKUSURU" />
    <meta property="og:description" content="スクレイピングシステムの第一号" />
    <meta property="og:image" content="http://13.114.229.141/var/www/rails/rakusuru/public/images/rakusuru_logo1.png" />

		<%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
