<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
    <title>Rakusuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@raimuhosoda" />
    <meta property="og:url" content="http://rakusuru.work/homes/scr" />
    <meta property="og:title" content="RAKUSURU" />
    <meta property="og:description" content="総合スクレイピングシステム" />
    <meta property="og:image" content="https://rakusuru1.s3-ap-northeast-1.amazonaws.com/images/rakusuru_logo1.png" />

		<%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>

		<div class="logout-modal-wrapper" id="logout-modal">
			<div class="modal">
				<div class="close-modal">
					<i class="fa fa-2x fa-times"></i>
				</div>
				<div id="login-form">
					<h2>ログアウトしますか</h2>
					<div>
						<%= link_to "submitテスト",bulk_submission_s3bases_path(sender_info_id: @active_sender_info.id,shop_name: "rhosoda"), method: :post%>
					</div>
					<div id="logout-no" class="yes-no">
						<a>いいえ</a>
					</div>
				</div>
			</div>
		</div>
  </body>
</html>
